.sell-btn{
    display: flex;
    justify-content: center;
    text-align: center;
    width: 1000px;
    height: 100px;
    border:3px solid red;
}
.sell{
    
    font-size: 25px;
    
}
.shopping-cart{
    margin-top: 25px;
    font-size: 45px;
}
.like{
    margin-top: 25px;
}
button{
    
    border:none;
    background-color: inherit;
    cursor: pointer;
}